@page
@model JurayKV.UI.Areas.KvMain.Pages.IUsers.IndexModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">USER MANAGER</h3>

         
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            Fullname
                        </th>
                        <th>
                            Email
                        </th>
                        <th>Phone Number </th>
                        <th>Date </th>
                        <th>Last LoggedIn </th>

                        <th> Disable</th>
                        <th> </th>

                    </tr>
                </thead>
                @{
                    int sn = 0;
                }
                <tbody>
                    @foreach (var item in Model.UserManagers)
                    {
                        <tr>
                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                <a asp-page="./Details" asp-route-id="@item.Id">
                                    @Html.DisplayFor(modelItem => item.Fullname)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>

                            <td>
                                @item.CreationUTC.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.LastLoggedInAtUtc
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsDisabled)
                            </td>
                            <td>
                                <div class="btn-group">

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success btn-xs dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                            Action
                                        </button>
                                        <div class="dropdown-menu" style="">

                                            <a class="dropdown-item" asp-page="./Info" asp-route-id="@item.Id">Details</a>
                                            <a class="dropdown-item" asp-page="./Update" asp-route-id="@item.Id">Update</a>

                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
