@page
@model JurayKV.UI.Areas.KvMain.Pages.IUsers.IndexModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">USER MANAGERS</h3>

        <a asp-page="./UserList" class="btn bg-gradient-warning btn-sm" style="float:right;">Users List JQuery</a>
        <a asp-page="./UserList" class="btn bg-gradient-danger btn-sm" style="float:right;">List JQuery 2</a>

    </div>

    <div class="card-header">
        <a asp-page="./Index" asp-route-all="true" class="btn btn-primary">
            All Users (@Model.All)
        </a>

        <a asp-page="./Index" asp-route-status="@JurayKV.Domain.Primitives.Enum.AccountStatus.Active" class="btn btn-primary">
            Active Users (@Model.ActiveOnly)
        </a>

        <a asp-page="./Index" asp-route-status="@JurayKV.Domain.Primitives.Enum.AccountStatus.Suspended" class="btn btn-danger">
            Suspended Users (@Model.Suspended)
        </a>
        <a asp-page="./Index" asp-route-status="@JurayKV.Domain.Primitives.Enum.AccountStatus.Disabled" class="btn btn-warning">
            Disabled Users (@Model.Disabled)
        </a>
    </div>

    <div class="card-header">
        <h5>TIE TWO STATUS</h5>
        
        <a  class="btn btn-primary">
            None Upgrade (@Model.NotYetTieTwo)
        </a>

        <a class="btn btn-danger">
            Upgrade Request (@Model.RequestedTieTwo)
        </a>
        <a  class="btn btn-success">
            Approved Request (@Model.ApprovedTieTwo)
        </a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            ID

                        </th>
                        <th>
                            Surname
                        </th>
                        <th>
                            Firstname
                        </th>
                        <th>
                            Email

                        </th>
                        <th>
                            Phone

                        </th>
                        <th>
                            Date

                        </th>
                        <th>
                            LoggedIn

                        </th>

                        <th>
                            Tie
                        </th>


                        <th>
                            Role

                        </th>
                        <th>
                            Status

                        </th>

                        <th>
                            Verified

                        </th>
                        <th>Code</th>
                        <th> </th>

                    </tr>
                </thead>
                @{
                    int sn = 0;

                }
                <tbody>
                    @foreach (var item in Model.UserManagers)
                    {
                        <tr>
                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                <a asp-page="./Info" asp-route-id="@item.Id">
                                    @Html.DisplayFor(modelItem => item.IdNumber)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Firstname) 
                                @Html.DisplayFor(modelItem => item.Lastname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>

                            <td>
                                @item.CreationUTC
                            </td>
                            <td>
                                @item.LastLoggedInAtUtc
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Tier)
                                @if (item.Tie2Request == JurayKV.Domain.Primitives.Enum.TieRequestStatus.Approved)
                                {
                                    <span class="btn btn-success btn-xs">approved</span>
                                }
                                else if (item.Tie2Request == JurayKV.Domain.Primitives.Enum.TieRequestStatus.Requested)
                                {
                                    <span class="btn btn-warning btn-xs">requested</span>
                                }
                               
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountStatus)
                            </td>

                            <td>
                                @if (item.Verified == true)
                                {


                                    <span class="btn btn-success btn-xs"><i class="fa fa-check"></i></span>
                                }
                                else
                                {
                                    <span class="btn btn-danger btn-xs"><i class="fa fa-times"></i></span>

                                }
                            </td>
                            <td>
                                <span style="font-size:11px;">
                                    @if(item.Verified == false) { 
                                    @Html.DisplayFor(modelItem => item.VerificationCode)
                                    }
                                </span>
                            </td>
                            <td>
                                <div class="btn-group">

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success btn-xs dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                            Action
                                        </button>
                                        <div class="dropdown-menu" style="">

                                            <a class="dropdown-item" asp-page="./Info" asp-route-id="@item.Id">Details</a>
                                            <a class="dropdown-item" asp-page="./Update" asp-route-id="@item.Id">Update</a>

                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
