@page
@model JurayKV.UI.Areas.KvMain.Pages.IUsers.InfoModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">USER DETAILS</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateUserManager.Fullname)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateUserManager.Fullname)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateUserManager.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateUserManager.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateUserManager.PhoneNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateUserManager.PhoneNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateUserManager.CreationUTC)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateUserManager.CreationUTC)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateUserManager.IsDisabled)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateUserManager.IsDisabled)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateUserManager.LastLoggedInAtUtc)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateUserManager.LastLoggedInAtUtc)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateUserManager.WalletBalance)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateUserManager.WalletBalance)
                    </dd>

                    @if (Model.UpdateCompany != null)
                    {
                      <hr />
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UpdateCompany.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UpdateCompany.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UpdateCompany.CreatedAtUtc)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UpdateCompany.CreatedAtUtc)
                        </dd>
                    }
                </dl>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <a class="btn btn-warning" asp-page="./Update" asp-route-id="@Model.UpdateUserManager.Id">Update</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
