@page
@model JurayKV.UI.Areas.User.Pages.Account.BucketModel
@{
    //Guid idd = Guid.NewGuid();
    //ViewData["datavalidate"] = idd.ToString();
}
<div class="row">
    <div class="col-md-12">
        <h3 style="text-align:center;">ADVERT BUCKET FOR YOUR STATUS</h3>
        <p style="text-align:center;">Kindl Make Sure You Pick Your Advert From Any of the Bucket Below</p>
        @TempData["error"]
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger">
                <strong>@TempData["error"]</strong>
            </div>
        } @if (TempData["success"] != null)
        {
            <div class="alert alert-success">
                <strong>@TempData["success"]</strong>
            </div>
        }
    </div>
    @foreach (var item in Model.KvAds)
    {

        <div class="col-sm-4">
            <div class="service-simple">


                <h4 style="text-align:center;">@item.BucketName</h4>
                <div class="position-relative">
                    <input type="image" src="@item.ImageUrl" alt="Submit" class="img-fluid">

                </div>
                <form method="post">
                    @if (item.MyActiveAdvert == false)
                    {
                        <input type="hidden" name="kId" value="@item.Id" />
                        <input type="hidden" asp-for="Date" value="@item.CreatedAtUtc" />


                        <input type="submit" value="Post These Advert" class="btn btn-primary btn-block" style="border-radius:0;" />
                    }
                    else
                    {
                        <button type="button" class="btn btn-success btn-block" style="border-radius:0;" disabled>Already a Running ADs</button>
                    }
                </form>

            </div>
        </div>

    }
</div>